storage: none
source https://www.nuget.org/api/v2/

nuget System.Collections.Immutable
nuget System.Reactive.Core
nuget System.Reactive.Interfaces
nuget System.Reactive.Linq
nuget System.Reactive.PlatformServices

nuget Gu.Reactive
nuget NUnit
nuget Ninject
nuget Moq
nuget Gu.Wpf.Reactive
nuget Microsoft.CodeAnalysis.CSharp.Workspaces
nuget Gu.Localization

group Build
  source http://www.nuget.org/api/v2/
  nuget Microsoft.VSSDK.BuildTools

group Analyzers
  storage: none
  source https://www.nuget.org/api/v2/
  nuget WpfAnalyzers
  nuget IDisposableAnalyzers
  nuget Gu.Analyzers
  nuget Gu.Localization.Analyzers
  nuget Gu.Reactive.Analyzers
  nuget PropertyChangedAnalyzers
  nuget StyleCop.Analyzers